h1 {
color:#3C4F76;
font-family: "Verdana", "serif";
}

h4 {
color:#3C4F76;
font-family: "Verdana", "serif";
}

p {
font-family: "Verdana", "serif";
}

button {
background-color:#3C4F76;
color:#DDDBF1;
}
button:hover{
background-color:#DDDBF1;
color:#3C4F76;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
top: 0;
}

.topnav {
background-color: #3C4F76;
overflow: hidden;
}


.topnav a {
float: left;
color: #DDDBF1;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #DDDBF1;
color: #3C4F76;
}
